_# Este fluxo de trabalho realiza o build do projeto Android usando Gradle._

name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: ./Material3Calculator-Android

    - name: Build with Gradle
      run: ./gradlew build
      working-directory: ./Material3Calculator-Android
